<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitydemo.mapper.system.SysDicMapper">
    <insert id="save">
        insert  into sys_dic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="groupName != null">group_name,</if>
            <if test="type != null">type,</if>
            <if test="dicValue != null">dic_value,</if>
            <if test="dicLabel != null">dic_label,</if>
            <if test="sort != null">sort,</if>
            update_time,
            create_time,
            <if test="remarks != null">remarks,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="groupName != null">#{groupName},</if>
            <if test="type != null">#{type},</if>
            <if test="dicValue != null">#{dicValue},</if>
            <if test="dicLabel != null">#{dicLabel},</if>
            <if test="sort != null">#{sort},</if>
            current_timestamp,
            current_timestamp,
            <if test="remarks != null">#{remarks},</if>
        </trim>
    </insert>
    <update id="update">
        update sys_dic
        <set>
            <if test="parentId != null"> parent_id=#{parentId},</if>
            <if test="groupName != null"> group_name=#{groupName},</if>
            <if test="type != null"> type=#{type},</if>
            <if test="dicValue != null"> dic_value=#{dicValue},</if>
            <if test="dicLabel != null"> dic_label=#{dicLabel},</if>
            <if test="sort != null"> sort=#{sort},</if>
            <if test="remarks != null">remarks=#{remarks},</if>
        </set>
        <where>
            <if test="id != null">and id=#{id}</if>
        </where>
    </update>
    <delete id="delete">
        delete from sys_dic
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="groupName != null">and group_name=#{groupName}</if>
        </where>
    </delete>
    <sql id="select">
        select id,parent_id,group_name,type,dic_value,dic_label,sort,update_time,create_time,remarks
        from sys_dic
    </sql>
    <select id="query" resultType="com.example.securitydemo.bean.vo.system.SysDicVo">
        <include refid="select"/>
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="parentId != null">and parent_id=#{parentId}</if>
            <if test="groupName != null">and group_name=#{groupName}</if>
            <if test="type != null">and type=#{type}</if>
            <if test="dicValue != null">and dic_value=#{dicValue}</if>
            <if test="dicLabel != null">and dic_label=#{dicLabel}</if>
            <if test="sort != null">and sort=#{sort}</if>
            <if test="remarks != null">and remarks=#{remarks}</if>
            <if test="startTime != null and endTime != null">
                 and create_time between #{startTime} and #{endTime}
            </if>
        </where>

    </select>
    <select id="queryAll" resultType="com.example.securitydemo.bean.vo.system.SysDicVo">
        <include refid="select"/>
        <where>
            dic_value !=-1
            <if test="groupName != null">and group_name=#{groupName}</if>
        </where>
    </select>
</mapper>