<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitydemo.mapper.system.SysLogMapper">
    <insert id="insert">
        insert into  log_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="module != null">module,</if>
            <if test="type != null"> type,</if>
            <if test="message != null"> message,</if>
            <if test="reqParam != null"> req_param,</if>
            <if test="resParam != null"> res_param=,</if>
            <if test="takeUpTime != null">take_up_time,</if>
            <if test="userId != null"> user_id,</if>
            <if test="username != null"> username,</if>
            <if test="method != null"> method,</if>
            <if test="uri != null"> uri,</if>
            <if test="ip != null"> ip,</if>
            <if test="version != null"> version,</if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="module != null">#{module},</if>
            <if test="type != null">#{ type},</if>
            <if test="message != null">#{ message},</if>
            <if test="reqParam != null">#{reqParam},</if>
            <if test="resParam != null"> #{resParam},</if>
            <if test="takeUpTime != null">#{takeUpTime},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="username != null"> #{username},</if>
            <if test="method != null">#{ method},</if>
            <if test="uri != null"> #{uri},</if>
            <if test="ip != null"> #{ip},</if>
            <if test="version != null"> #{version},</if>
            current_timestamp,
        </trim>
    </insert>

    <select id="query" resultType="com.example.securitydemo.bean.vo.system.SysLogVo">
        select id,module,type,message,req_param,res_param,take_up_time,user_id,username,method,uri,ip,version,create_time from log_info
        <where>
            <if test="username != null">and username=#{username}</if>
            <if test="startTime != null and endTime != null">and create_time between #{startTime} and #{endTime}</if>
        </where>
    </select>
</mapper>