<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitydemo.mapper.sku.ProductMainMapper">
    <insert id="insert">
        insert into product_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            created_at,updated_at
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            current_timestamp,current_timestamp
        </trim>
    </insert>
    <update id="update">
        update product_main
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="categoryId != null">category_id=#{categoryId},</if>
            <if test="description != null">description=#{description},</if>
            <if test="status != null">status=#{status},</if>
            updated_at=current_timestamp,
        </set>
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </update>
    <delete id="delete">
        delete from product_main
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </delete>

    <select id="query" resultType="com.example.securitydemo.bean.vo.sku.ProductMain">
        select id,name,description,category_id,status,updated_at,created_at from  product_main
        <where>
            <if test="id != null"> and id=#{id}</if>
            <if test="name != null">and name=#{name}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </select>
</mapper>