<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitydemo.mapper.sku.SkuMapper">
    <insert id="add">
        insert into  category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="parentId != null">parent_id,</if>
            created_at,
            updated_at,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            current_timestamp,
            current_timestamp,
        </trim>
    </insert>
    <update id="update">
        update category
        <set>
            <if test="id != null">id=#{id},</if>
            <if test="name != null">name=#{name},</if>
            <if test="parentId != null">parent_id=#{parentId},</if>
            updated_at=current_timestamp,
        </set>
        <where>
            <if test="id != null">and id=#{id}</if>
        </where>
    </update>
    <delete id="delete">
        delete from category
        <where>
            <if test="id != null">and id=#{id}</if>
        </where>
    </delete>

    <select id="query" resultType="com.example.securitydemo.bean.vo.sku.Category">
        select id,name,parent_id,created_at,updated_at from category
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="name != null">and name=#{name}</if>
            <if test="parentId != null">and parent_id=#{parentId}</if>
        </where>
    </select>
</mapper>