<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitydemo.mapper.sku.SkuMapper">
    <insert id="insert">
        insert into product_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="productId != null">product_id,</if>
            <if test="skuName != null">sku_name,</if>
            <if test="price != null">price,</if>
            <if test="stock != null">stock,</if>
            <if test="image != null">image,</if>
            created_at,
            updated_at,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="productId != null">#{productId},</if>
            <if test="skuName != null">#{skuName},</if>
            <if test="price != null">#{price},</if>
            <if test="stock != null">#{stock},</if>
            <if test="image != null">#{image},</if>
            current_timestamp,current_timestamp,
        </trim>
    </insert>
    <update id="update">
        update product_sku
        <set>
            <if test="productId != null">product_id=#{productId},</if>
            <if test="skuName != null">sku_name=#{skuName},</if>
            <if test="price != null">price=#{price},</if>
            <if test="stock != null">stock=#{stock},</if>
            <if test="image != null">image=#{image},</if>
            updated_at=current_timestamp,
        </set>
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
        </where>
    </update>
    <delete id="delete">
        delete from product_sku
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </delete>

    <select id="query" resultType="com.example.securitydemo.bean.vo.sku.Sku">
        select id,product_id,sku_name,cast(price/100 as DECIMAL(10,2)) as price,stock,image,created_at,updated_at
        from product_sku
        <where>
            <if test="id != null">and id=#{id}</if>
            <if  test="productId != null">and product_id=#{productId}</if>
        </where>
    </select>
</mapper>